.formFields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.formActions {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.dialogContent {
  textAlign: center;
}
