.formFields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.formActions {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.dialogContent {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 48px;
}
