.boxWrapper {
    position: absolute;
    top: 212px;
    left: 50%;
    transform: translate(-52%);
    width: 100%;
    z-index: 99;
}

.searchResultsWrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    border-radius: 12px;
    width: 100%;
}
