.itemWrapper {
    padding: 6px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 250ms ease-in-out, border-color 100ms ease-in-out;
    box-sizing: border-box;
    z-index: 99;
    background: white;
    width: 100%;
}

.itemWrapper:not(:last-child) {
    border-bottom: solid 1px #eee;
}

.itemWrapper:hover {
    cursor: pointer;
    transform: scale(1.02, 1.03);
}

.photoCoverImg {
    width: 60px;
    height: 80px;
    object-fit: cover;
    border-radius: 6px;
    background: #eee
}

.txtContentWrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.bookTitle {
    font-size: 1.4rem;
    color: #555;
}